a.active{
    color: #000000 !important;
    text-decoration: underline !important;
}

.main-container {
    border: solid gray 1px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}